@import 'global'
.entercontainer
    overflow: hidden
    position: absolute
    width: 100%
    left: 0%
    height: calc(100% - 80px)
.preenter
    width: 100%
    position: relative
    font-family: $helveticaBody
    & > div
        position: absolute
        top: 30%
        width: 100%
        display: block
        margin: auto
        text-align: center
        box-sizing: border-box
        & > input
            text-align: center
            background-color: rgba(0,0,0,.8)
            border: solid $orange 1px
            color: $orange
.submit
    cursor: pointer
    color: $orange
    padding: 2px
    background-color: rgba(0,0,0,.8)
    width: 140px
    display: block
    position: relative
    margin: auto
    top: 5px
.error
    position: relative 
    top: 0
    z-index: 100
    color: $orange
    margin-top: 1%
    background-color: rgba(0,0,0,.4)
    display: inline-block
    padding: 5px
.fullpage
    margin-bottom: 30%
    margin-top: 2%
    & h1
        position: relative
.pic1
    position: absolute
    width: 56%
    right: $margin
    top: 12%
    z-index: -1
.pic2
    width: 60%
    position: absolute
    right: $margin
.placeHeader
    margin-top: 30%
.places
    list-style: none
    margin: 0
    margin-top: 20px
    padding-bottom: 10%
    & > li
        & > h2
            color: $orange
            margin: 0
        & > div
            display: flex
            position: relative
            top: 10px
            justify-content: space-between
            & > h4
                width: 40%
            & > p
                width: 50%
.times
    display: flex
    justify-content: space-between
    margin-bottom: 11%
    &>div
        width: 47%
        &:nth-of-type(1)
            text-align: center   
            & > h1
                position: relative
                top: 45px
                z-index: 10
        &:nth-of-type(2)
            position: relative
            margin-top: 3%
            &> ul
                list-style: none
                margin: 0
            & > p
                margin-top: 18%
.techlist
    & > h2
        color: $orange
        margin: 15% 0 5px 0
    & > h4
        margin: 5px 0 10px 0
.plaintext
    width: 50%
    position: relative
.drink
    margin-top: 2%
    &>h2
        color: $orange
        margin: 0
@media (max-width: $mobileWidth)
    .fullpage
        padding-top: 20%
    .pic1
        margin-top: 90%
        width: 80%
        filter: brightness(80%)
    .plaintext
        width: 100%
    .times
        display: block
        & div
            width: 100%
    .pic2
        width: 100%
        right: 0
        z-index: -1
        filter: brightness(50%)
        margin-top: -70%
    .preenter
        & > div
            top: 150% 
    .inputContainer
        transform: scale(1.5)
    
            
    
            