@import 'global'

.itemlist
    width: 95%
    display: flex
    box-sizing: border-box
    justify-content: space-around
            
.item
    width: auto
    height: auto
    max-width: 30%
    text-align: center
    list-style: none
    color: white
    text-decoration: none
    transition: .15s linear all 0s
    &:hover
        transform: scale(1.05)
    
.header
    text-align: center
    padding-top: 5%