@import 'global'

.header
    background: rgba(0,0,0,.4)    
    position: sticky
    top: 0
    width: 100%
    height: $navHeight
    padding: 0 $margin
    z-index: 100
.nav
    width: 45%
    display: flex
    position: absolute
    justify-content: space-around
    right: $margin
    top: 40px
    font-family: $helvetica
.title
    color: $orange
    font-family: $gothic
    text-decoration: none
    position: relative
    top: 20px